# Entornos virtuales
venv/
.env/

# Archivos de configuración de IDEs y editores
.vscode/

# Archivos de configuración personal
*.env
config.json

# Archivos de log
*.log

# Distribución de paquetes
dist/
build/

# Archivos de sistema
.DS_Store
Thumbs.db

